
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    font-family: "Roboto", Arial, sans-serif;
    color: #0f0f0f;
    font-size: 14px;
}

.img-thumb{
    width: 400px;
}

.img-canal{
    width: 36px;
}



.caixa-textos{
    display: flex ;
    flex-direction: column;
    gap: 7px;
}


.caixa-titulo{
    color: inherit;
    font-weight: 700px;
    text-decoration: none;
    font-size: 16px;
}

.caixa-texto{
    color: #606060;
    
}

.caixa-texto a {
color: #606060;
text-decoration: none;
display: block;
}
.img-thumb{
    border-radius: 12px;
    margin-bottom: 10px;
}

.img-canal{
    border-radius: 50%;
}

.caixa-infos {
   display:flex; 
   align-items: flex-start;
   gap: 10px;
}

.caixa-videos{
    display: flex;
     flex-wrap: wrap;
     column-gap: 20px;
     row-gap: 40px;
}

.caixa-video{
    width: 400px;
}

.conteudo{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.categorias{
    display: flex;
    gap: 8px;
    margin-bottom: 40px;
}


.categoria {
    font-size: inherit;
    font-family: inherit;
    border-radius: 8px; 
    padding: 7px 12px;
    border: none;
    background-color:#0000000d;
    cursor: pointer;
}

.categoria.selecionado{
    background-color: #0f0f0f;
    color: white;
    font-weight: 600;
}

.principal{
    display: flex;
    gap: 30px;
    
}

.menu-lateral{
    min-width: 240px;
    width: 224px;
    margin-right: 16px;
}

.menu-bloco, .menu-login{
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    padding: 15px;
}

.menu-bloco:last-child{
    border-bottom: none;
}

.bloco-item {
    display: flex;
    border-radius: 12px; 
    padding: 7.5px 15px;
    align-items: center;
    gap: 19px;
    color: inherit;
    text-decoration: none;
}
.bloco-item.selecionado{
    background-color:#0000000d;
    font-weight: 600;
}

.bloco-titulo{
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
    padding: 3px 0;
}

.menu-login{
  padding: 16px 32px;  
}

.login-texto{
    margin-bottom: 15px;
}

.login-bloco{
    display: flex;
    align-items: center; 
    text-decoration: none;
    gap: 6px;
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.034);
    padding: 6px 12px;
    color: #065fd4;
    fill: #065fd4;
    width: max-content;
}

.bloco-texto{
   color: inherit;
   font-weight: 500;
}
